<%- include('../../shared/includes/head', {pageTitle: 'All Your Orders'}) %>
</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1 id="main-heading">All Your Orders</h1>
        
    </main>
<%- include('../../shared/includes/footer') %> 