<%- include('../../shared/includes/head', {pageTitle: 'Add New Product'}) %>
    <link rel="stylesheet" href="/styles/forms.css">
</head>
<body>
    <%- include('../../shared/includes/header') %> 
    <main>
        <h1>Add New Product</h1>

        <!-- When working with form that contains a file, you have to add the CSRF Token as a query param on the URl 
             the request is send to -->
             <%- include('includes/product-form', {submitPath: '/admin/products', product: {
                title: '',
                summary: '',
                price: '',
                description: ''
             }}) %>
    </main>
<%- include('../../shared/includes/footer') %> 